<! DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>This is text analyzer....</h1><h3>Enter your text below</h3>
<form action="/analyze" method="get">
    <textarea name='text' style="margin: 0px; width: 322px; height: 133px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Puctuations<br>
    <input type="checkbox" name="caps">Capitalize<br>
    <input type="checkbox" name="newlineremove">New Line Remover<br>
    <input type="checkbox" name="spaceremove">Space Remover<br>
    <input type="checkbox" name="counter">Character Counts<br>
    <button type='submit'>Analyze</button>

</body>
</html>